html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "RecoletaAlt";
  src: url("./assets//fonts/RecoletaAlt-Medium.ttf");
}

@font-face {
  font-family: "RecoletaAlt";
  src: url("./assets//fonts/RecoletaAlt-Bold.ttf");
  font-weight: bold;
}